/* Source: http://fonts.googleapis.com/css?family=Droid+Sans */
@font-face {
    font-family: 'Droid Sans';
      font-style: normal;
        font-weight: 400;
          src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
        }
html {
  font-family: 'Droid Sans'
}
