* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
  font-family: sans-serif;
	font-size: 16px;
	line-height: 25px;
	padding: 100px;
}
a {
	text-decoration: none;
	color: #30afef;
}
p {
	margin-bottom: 25px;
}
table.results {
  width: 575px;
	line-height: 25px;
	vertical-align: top;
	float: left;
}
table.results th {
	font-weight: normal;
	text-align: left;
}
table.results td:first-child {
	padding-left: 25px;
	width: 275px;
}
table.results td + td {
	text-align: right;
}
table.results a {
	display: block;
}
tr:hover td {
	border-top: 1px solid rgb(230,230,230);
	border-bottom: 1px solid rgb(230,230,230);
	line-height: 23px;
}

table.results tr span {
	color: rgb(150,150,150);
	visibility: hidden;
}

table.results tr:hover span {
	visibility: visible;
}
button {
	width: 275px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: white;
	background: #30afef;
	border: 1px solid rgb(150,150,150);
	margin-top: 25px;
}

article {
	width: 600px;
	padding-right: 25px;
	float: left;
}


iframe {
	width: 575px;
	height: 575px;
	float: left;
	border: 1px solid black;
}
