@font-face {
	font-family: 'Droid Sans';
	src:url('DroidSans.eot');
	src:url('DroidSans.eot?#iefix') format('embedded-opentype'),
		url('DroidSans.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

html {
  font-family: 'Droid Sans'
}
