@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
  background-image: url('./tweed.png');
  font-family: 'Droid Sans';
}

body {
  margin: 20px;
  padding: 20px;
  background-image: url('./lightpaperfibers.png');
}

p.main_frame {
  padding: 20px;
  background-image: url('./carbon_fibre.png');
  font-family: 'Droid Sans';
  font-weight: 700;
  color: white;
}

p.iconrow {
	font-family: 'icomoon';
}
